/*  sidebar Navogation*/
* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}


/*  SIde Navigation Bar*/
#sidebarNav
{
  z-index: 100;
  position:fixed;
  width:200px;
  height:100%;
  /* background: #693039; */
  background: #222;
  /* background-image:linear-gradient(to bottom, #080135, #220e3c, #381643, #4d204a, #602c50); */
  left:-200px;
  transition: all 300ms ease-out;
}

#sidebarNav.active
{
  left: 0px;
}

#sidebarNav ul li {
  list-style:none;
  padding:15px 10px;
  border-bottom: 1px solid rgba(100,100,100,0.3);
}
.navLinks{
  color:white;
  text-decoration: none;
  font-size: 16px;
  font-family: 'Nunito', sans-serif;
}
.navLinks:hover{
  color:#83f52c;
  text-decoration: none;

}

#sidebarNav .toggle-btn{
  position: absolute;
  left: 230px;
  top: 20px;
}
#sidebarNav .toggle-btn span{
  display: block;
  width: 30px;
  height: 5px;
  background: #F7AC22;
  margin: 5px 0px;

}

/*  Text Upgright*/
.brand
{
  /* color: white; */
  color: #83f52c;
  font-size: 32px;
  margin: 0 0;
  font-family: 'Nunito', sans-serif;
}

.brandImage
{
  width:75%;
  padding-top:10px;
}

.eventDesc
{
  color: #F7AC22;
  font-size: 22px;
  font-family: 'Nunito', sans-serif;
  opacity: 0;
}
#comingSoonTitle
{
  letter-spacing: 20px;
  font-size: 32px;
}
#comingSoonDate
{

}
#comingSoonCountDown
{

}
/*  SVG Width reduction*/
#svg901
{
  width:85%;
}


/* 1nd Section  Full page section */
#page1
{
  z-index: 5;
  background: #A32D39;
}
canvas {
    position: absolute;
    top: 0;
    z-index: 1;
}




/*synapse logo*/
#g4919
{
  opacity: 1;
}
#Y2018
{
  opacity: 1;
}
#science{
  opacity: 0;
}
#industry{
  opacity: 0;
}
#AI{
  opacity: 0;
}
#Bitcoin{
  opacity: 0;
}
#FStudent{
  opacity: 0;
  display: none;
}
#MStudent{
  opacity: 0;
}
/* university logo */
#path4591
{
  opacity: 0;
}


/* 2nd Section : About Synase */
#secondPageTitle
{
  font-size: 20px;
  font-family:  'Yatra One', cursive;
}
#secondPageDesc3
{
  font-size: 20px;
  font-family:  'Yatra One', cursive;
}

/* 3rd Section: Gallery */
.gal img{
        width: 100%;
        padding: 7px 0;
        border-radius:4%;
      }


#thirdPageTitle
{
  font-size: 32px;
  font-family:  'Yatra One', cursive;
}

/* 4th Section */
.getInvolvedSection{
        font-family: 'Yatra One', cursive;
        color:#fdcd5b;
        /* #f24b4c; */
        font-size: 40px;
      }
.getInvolvedSectionDesc
{
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  color:#fdcd5b;
}
.contHeading
{
  font-family: 'Yatra One', cursive;
  /* color: #fdcd5b; */
  font-size: 40px;
}

/*  5th section*/
.heading
{
  font-family: 'Yatra One', cursive;
  color: white;
  font-size: 40px;
}

#twitterIcon
{
  font-size: 6vw;
  color: white;
}
#twitterIcon:hover
{
  color:#0084b4;
}

#facebookIcon
{
  font-size: 6vw;
  color: white;
}
#facebookIcon:hover
{
  color: #3b5998;
}
.connectUsDesc
{
  color: white;
}


/*  navigation bar style */

      #fp-nav ul li a span,
      .fp-slidesNav ul li a span {
      	background: #fdcd5b;
      	width: 8px;
      	height: 8px;
      	margin: -4px 0 0 -4px;
      }

      #fp-nav ul li a.active span,
      .fp-slidesNav ul li a.active span,
      #fp-nav ul li:hover a.active span,
      .fp-slidesNav ul li:hover a.active span {
      	width: 16px;
      	height: 16px;
      	margin: -8px 0 0 -8px;
      	background: transparent;
      	box-sizing: border-box;
      	border: 1px solid #24221F;
      }

      /*  Media Queries*/
      /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {

    }

    /* Extra Small Devices, Phones */
    @media only screen and (max-width : 480px) {
      /*  1st Page section*/
      #comingSoonTitle
      {
        letter-spacing: 10px;
        font-size: 18px;
      }
      #comingSoonDate
      {
        font-size: 18px;
      }
      #comingSoonCountDown
      {
        font-size: 18px;
      }
      /*  2nd page section*/
      #secondPageTitle
      {
        font-size: 18px;
      }
      #secondPageDesc1
      {
        font-size: 14px;
      }
      #secondPageDesc2
      {
        font-size: 14px;
      }
      #secondPageDesc3
      {
        font-size: 18px;
      }
      /*  3rd page section*/
      #thirdPageTitle
      {
        font-size: 18px;
      }
      /*  4th page section*/
      .getInvolvedSection{
              font-size: 22px;
            }
      .getInvolvedSectionDesc
      {
        font-size: 14px;
      }
      .contHeading
      {
        font-size: 14px;
      }
      .contDesc
      {
        font-size: 12px;
      }
      .btn
      {
        font-size: 12px;
      }
      hr
      {
        margin-top: 5px;
        margin-bottom: 5px;
      }
      /*  5th page section*/
      .heading
      {
        font-size: 22px;
      }
      .connectUsDesc
      {
        font-size: 14px;
        padding-right: 10px;
        padding-left: 10px;
      }
      /* Sidebar */
      .brandImage{
        width: 70px;
      }
      .brand{
        font-size: 18px;
      }
      .navLinks{
        font-size: 14px;
      }
      #sidebarNav .toggle-btn span{
        width: 20px;
        height: 3px;
        background: #F7AC22;
        margin: 3px 0px;

      }

    }

    /* Custom, iPhone Retina */
    @media only screen and (max-width : 320px) {
      /*  1st Page section*/
      #comingSoonTitle
      {
        letter-spacing: 10px;
        font-size: 16px;
      }
      #comingSoonDate
      {
        font-size: 16px;
      }
      #comingSoonCountDown
      {
        font-size: 16px;
      }
      /*  2nd page section*/
      #secondPageTitle
      {
        font-size: 16px;
      }
      #secondPageDesc1
      {
        font-size: 12px;
      }
      #secondPageDesc2
      {
        font-size: 12px;
      }
      #secondPageDesc3
      {
        font-size: 16px;
      }
      /*  3rd page section*/
      #thirdPageTitle
      {
        font-size: 16px;
      }
      /*  4th page section*/
      .getInvolvedSection{
              font-size: 20px;
            }
      .getInvolvedSectionDesc
      {
        font-size: 12px;
      }
      .contHeading
      {
        font-size: 12px;
      }
      .contDesc
      {
        font-size: 10px;
      }
      .btn
      {
        font-size: 10px;
      }
      hr
      {
        margin-top: 5px;
        margin-bottom: 5px;
      }
      /*  5th page section*/
      .heading
      {
        font-size: 20px;
      }
      .connectUsDesc
      {
        font-size: 12px;
        padding-right: 10px;
        padding-left: 10px;
      }
      /* Sidebar */
      .brandImage{
        width: 50px;
      }
      .brand{
        font-size: 16px;
      }
      .navLinks{
        font-size: 12px;
      }
      #sidebarNav .toggle-btn span{
        width: 20px;
        height: 3px;
        background: #F7AC22;
        margin: 3px 0px;

      }

    }
